@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <title>"User"</title>
</head>
<body>
    <div>
        <a href="Answers/Index">Answers</a> <br />
        <a href="CompletionMarks/Index">Completion Marks</a> <br />
        <a href="Difficulties/Index">Difficulties</a> <br />
        <a href="Questions/Index">Questions</a> <br />
        <a href="Results/Index">Results</a> <br />
        <a href="Tests/Index">Tests</a> <br />
        <a href="Topics/Index">Topics</a> <br />
        <a href="Users/Index">Users</a> <br />
    </div>
</body>
</html>